<div class="fixed-bottom">
  <div class="container">
    <p class="copy-text text-center text-darkgray1 mt-3 mt-lg-0">&copy; <span class="footer_date"></span> Scrabble All rights reserved.</p>
  </div>
</div>
